{
  overrides: [
    {
      files: ['*.ts', '*.js', '*.tsx'],
      options: {
        printWidth: 80,
        trailingComma: 'es5',
        tabWidth: 2,
        semi: false,
        singleQuote: true,
        useTabs: false,
        bracketSpacing: true,
        jsxSingleQuote: false,
        bracketSameLine: true,
        arrowParens: 'avoid',
      },
    },
    {
      files: ['*.html'],
      options: {
        printWidth: 120,
        tabWidth: 4,
        useTabs: false,
        bracketSameLine: true,
      }
    }
  ],
}
